html {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

a {
  text-decoration: none;
  color: #000;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #353535;
  animation: fadeOut 0.25s forwards 0.25s 1 normal;
  z-index: 1000;
  overflow: hidden;
}

#content {
  opacity: 0;
  animation: fadeIn 0.25s forwards 0.5s 1 normal;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}
.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #9356dc 94%, transparent) top/9px 9px no-repeat, conic-gradient(transparent 30%, #9356dc);
  -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 0.8s linear 0s infinite normal;
}

.imgHeaderDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 2;
}

.logoHeader {
  margin: auto;
  height: 36px;
}

.locationHeader {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: relative;
  align-items: center;
}

.locationCenterContainer {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txtLocationHeader {
  font-size: 16px;
  color: #353535;
  font-weight: 500;
  margin-left: 17px;
}

.findMenuSection {
  background-color: #f6f6f6;
  padding-top: 39px;
  padding-bottom: 57px;
}

.findMenuTitle {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 16px;
}

.findMenuDescription {
  font-size: 18px;
  color: #353535;
  font-weight: 300;
}

.findMenuButton {
  cursor: pointer;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: auto;
  margin-top: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.findMenuButton:hover {
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.fonctionnementSection {
  padding: 20px;
  padding-bottom: 43px;
}

.fonctionnementCenterContainer {
  display: flex;
}

.fonctionnementTitle {
  text-align: left;
  margin-top: 28px;
  margin-bottom: 26px;
}

.fonctionnementPart {
  width: 100%;
  height: 72px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
  cursor: pointer;
}

.fonctionnementPart:hover, .selectedIcon {
  color: #9356dc;
}

.numberBubble {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-12.5px);
  border-radius: 50%;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numberFonctionnement {
  font-weight: 500;
  font-size: 14px;
  margin: auto;
  color: #fff;
}

.fonctionnementPartTitle {
  font-size: 18px;
  font-weight: 500;
  color: #353535;
  margin-left: 23px;
  width: 211px;
  text-align: left;
}

.restaurantSection {
  background-color: #f6f6f6;
  padding: 54px 17px 57px 18px;
}

.restaurantTitle {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 24px;
}

.restaurant {
  width: 100%;
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: 18px;
  padding-bottom: 12px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

.heartRestaurant {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 33px;
  margin-right: 25px;
}

.restaurantPicture {
  height: 174px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurantName {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  margin-top: 16px;
  margin-left: 16px;
}

.restaurantPlace {
  font-size: 17px;
  font-weight: 300;
  text-align: left;
  margin-left: 16px;
  margin-top: 5px;
}

.newInformation {
  color: #008766;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  margin-top: 12px;
  margin-right: 12px;
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 7px 9px;
}

.footer {
  background-color: #353535;
  padding: 22px 25px;
  color: #fff;
  text-align: left;
}

.footerDesktop {
  text-align: left;
}

.logoFooter {
  height: 27px;
  filter: invert(1);
}

.footerTxtContainer {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.flexStatus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footerTxt {
  margin-bottom: 7px;
  cursor: pointer;
}

.restaurantPictureContainer {
  width: 100%;
  height: 275px;
}

.restaurantMenuName {
  font-family: Shrikhand;
  font-size: 28px;
  font-style: italic;
  font-weight: bolder;
  text-align: left;
  margin-bottom: 40px;
}

.restaurantMenuPicture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainMenuRestaurant {
  background-color: #f6f6f6;
}

.restaurantMenuSection {
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 32px 13px;
  padding-bottom: 0;
  transform: translateY(-50px);
}

.entryPlateTxt,
.mainCoursePlateTxt,
.dessertPlateTxt {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}

.mainCoursePlate,
.dessertPlate {
  margin-top: 40px;
}

.aPlateDiv {
  width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 15px;
  margin-bottom: 12px;
  text-align: left;
  animation: slideInFromRight 0.5s ease-out 0s 1 normal;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 70.5px;
  padding-left: 15px;
  cursor: pointer;
}

.aPlateContent {
  flex-grow: 1;
  flex-direction: column;
}

.aPlateName {
  font-size: 18px;
  font-weight: 500;
}

.subTxtDiv {
  padding-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aPlateSubName {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 15px;
  width: calc(100% - 59px);
  transition: width 0.25s ease;
  font-weight: 300;
}

.aPlatePrice {
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  margin-right: 15px;
}

.aPlateSelected {
  width: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #99E2D0;
  transition: transform 0.25s ease;
  transition: width 0.25s ease;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: right center;
  transform: scaleX(0);
  pointer-events: none;
}

.aPlateDiv:hover .aPlateSelected {
  display: flex;
  opacity: 1;
  pointer-events: auto;
  width: 59px; /* Updated */
  transform: scaleX(1); /* Updated */
}

.aPlateDiv:hover .aPlateSubName {
  width: 0;
}

.hidden-checkbox {
  display: none;
  margin: auto;
}

@keyframes fillAnimation {
  0% {
    color: black;
  }
  100% {
    color: blue;
  }
}
@keyframes unfillAnimation {
  0% {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; /* or inline, depending on your layout needs */
  }
  100% {
    color: black;
  }
}
.heartRestaurantPage::before,
.heartRestaurant::before {
  content: "\f08a";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  color: #000;
  transition: color 0.25s ease;
  transition: 1s 0.25s ease;
  cursor: pointer;
}

.hidden-checkbox:checked + label .heartRestaurantPage::before,
.hidden-checkbox:checked + label .heartRestaurant::before {
  animation: fillAnimation 1s forwards 0s 1 normal;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; /* or inline, depending on your layout needs */
  content: "\f004";
  font-weight: 900;
}

.hidden-checkbox:not(:checked) + label .heartRestaurantPage::before,
.hidden-checkbox:not(:checked) + label .heartRestaurant::before {
  animation: unfillAnimation 1s forwards 0s 1 normal;
  color: #000;
  content: "\f08a";
  font-weight: 400;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.menuBar {
  width: 40px;
  height: 3px;
  top: 27px;
  gap: 0;
  background-color: #99E2D0;
  margin: 9px 0 12px;
}

.footerWithIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heartRestaurantPage {
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px;
}

.iconBackHeader {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 17px;
}

.iconFooter {
  width: 22px;
}

.selectedIcon {
  margin: auto;
  width: 20px;
  height: 20px;
  color: #fff;
}

.bookButton {
  margin-top: 28px;
  width: 186px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  color: #fff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.bookButton:hover {
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.footerMobile {
  display: none;
}

@media (min-width: 1100px) {
  .findMenuTitle {
    font-size: 40px;
    font-weight: 700;
  }
  .fonctionnementSection {
    padding-left: 0;
    padding-right: 0;
    width: 1080px;
    margin: auto;
  }
  .fonctionnementDivContainer {
    display: flex;
    justify-content: space-between;
  }
  .fonctionnementPart {
    width: 332px;
  }
  .restaurantHolder {
    width: 1080px;
    margin: auto;
  }
  .allRestaurants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 100px;
         column-gap: 100px;
    row-gap: 50px;
  }
  .restaurantSection {
    padding: 30px 0 12px 0;
  }
  .footerMobile {
    display: block;
  }
  .footerDesktop {
    display: none;
  }
  .footerTxtContainer {
    display: flex;
    justify-content: flex-end;
    padding: 64px 0 30px 0;
    margin-top: 0;
  }
  .footerWithIcon {
    width: 190px;
    margin-right: 16px;
  }
  .footerTxt {
    width: 164px;
  }
  .logoFooter {
    height: 27px;
    margin-right: 70px;
  }
  .footer {
    padding: 0;
  }
  .restaurantMenuName {
    text-align: center;
    margin-top: 51px;
  }
  .mainMenuRestaurant {
    width: 1055px;
    margin: auto;
  }
  .restaurantPictureContainer {
    width: 100%;
    height: 383px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 63px;
  }
  .restaurantMenuPicture {
    width: 100%;
  }
  .restaurantMenuSection {
    width: 1055px;
    padding: 0 210.5px;
    margin: auto;
    background-color: #f6f6f6;
    margin-top: 383px;
  }
  .heartRestaurantPage {
    position: relative;
    margin: 0 0 0 24px;
  }
  .topName {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */